/* Add your own CSS rules here */
h1 {
  text-align: center;
  background-color: #d7e0ac;
  border-style: dotted;
  border-color: green;
  border-width: 5%; 
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

h4 {
	text-align: center;
}

h5 {
	text-align: center;
}

table, th, td {
	border: 1px solid black;
}

table {
	width: 25%;
	height: 25%;
}

g[class='note'] {
  color: red;
}

.highlighted {
  fill: blue
}

#controls {
  float: right;
}
