/* Add your own CSS rules here */
h1 {
  text-align: center;
  background-color: #d7e0ac;
  border-style: dotted;
  border-color: green;
  border-width: 5%; 
}

g[class='note'] {
  color: red;
}

.highlighted {
  fill: blue
}

#controls {
  float: right;
}
